fastapi
uvicorn[standard]
python-multipart
pinecone-client
langchain-pinecone
langchain-google-genai
python-dotenv
pypdf
google-generativeai
pydantic
pypdf
langchain-community
langchain-text-splitters
pypdf
langchain-community